* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: a;
  src: url("/jost-variable.ttf");
}

@font-face {
  font-family: b;
  src: url("/KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf");
}

@font-face {
  font-family: c;
  src: url("/KFOmCnqEu92Fr1Mu4mxK\\(1\).ttf");
}

#main {
  position: relative;
  overflow: hidden;
  background-color: #1137ca;
}

#page1 {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#page1 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page1 > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: absolute;
  height: 10vh;
  width: 100vw;
  /* background-color: black; */
}

#page1 > nav > img {
  margin-top: -1.7vw;
  width: 10%;
}

#right-nav > button {
  padding: 10px;
  border-radius: 50px;
  background-color: #0b48ed;
  border: 1px solid #fff;
  color: #fff;
  font-family: a;
  font-size: 15.9px;
  margin: 10px;
}
#right-nav > #btn {
  font-size: 20px;
  padding: 5px 25px;
}

#bottom-page1 {
  position: absolute;
  bottom: 5%;
  height: 45vh;
  width: 50vw;
  left: 13%;
}

#bottom-page1 > h1 {
  font-family: a;
  font-size: 5vw;
  font-weight: 100;
  line-height: 1;
  color: white;
}

#bottom-page1-inner {
  position: absolute;
  height: 35%;
  bottom: 0%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: a;
}

#bottom-page1-inner > h4 {
  color: white;
  font-size: 1.3vw;
  font-weight: 100;
}

#bottom-page1-inner > button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: #fff;
  color: #0b48ed;
  font-family: b;
  font-size: 16px;
}

#page2 {
  display: flex;
  align-items: start;
  font-family: a;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 0vw 8vw;
  color: #fff;
  background-color: #0a3cce;
}
#page2 > h2 {
  margin-bottom: 3vw;
  font-weight: 100;
}
#page2 > h1 {
  width: 90%;
  font-size: 4vw;
  font-weight: 100;
  line-height: 1.2;
  color: #dadada69;
}
#page3 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0b48ed;
}
#page3 > canvas {
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
}

#page4 {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #1137ca;
  color: rgba(255, 255, 255, 0.444);
  font-family: a;
}

#page4 > h3 {
  margin-left: 10vw;
  margin-bottom: 2vw;
  font-weight: 100;
  color: #fff;
}

#page4 > h1 {
  margin-left: 10vw;
  width: 83%;
  font-size: 4vw;
  font-weight: 100;
  line-height: 1.3;
}

#page5 {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#page5 > canvas {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
}

#page6 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #0a3cce;
  color: rgba(255, 255, 255, 0.444);
  font-family: a;
}
#page6 > h3 {
  margin-left: 10vw;
  margin-bottom: 2vw;
  font-weight: 100;
  color: #fff;
}

#page6 > h1 {
  margin-left: 10vw;
  width: 83%;
  font-size: 4vw;
  font-weight: 100;
  line-height: 1.2;
}

#page7 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
}

#page7 > canvas {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
}

#page7 > .page7-crl {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  border: 1px solid white;
}

.page7-crl-inner {
  height: 70%;
  width: 70%;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
}

#page8 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
}

#page8 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.page8-bottom {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.page8-bottom > h1 {
  color: white;
  font-family: a;
  margin-bottom: 2vw;
  font-size: 5vw;
  font-weight: 100;
}

.page8-bottom > button {
  padding: 20px 30px;
  border-radius: 50px;
  border: none;
  color: #0a3cce;
}

#page9 {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
}

.left9 {
  position: relative;
  height: 100%;
  width: 40%;
  font-family: a;
}

.right9 {
  position: relative;
  height: 100%;
  width: 60%;
}

.left9 > h1 {
  position: absolute;
  top: 40%;
  right: 5%;
  transform: translateY(-50%);
  font-size: 5vw;
  font-weight: 100;
  color: #fff;
  line-height: 1;
}

.right9-center {
  height: 62%;
  width: 85%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
  background-size: cover;
}

#page10 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
}

.right-10 {
  height: 100%;
  width: 60%;
  position: relative;
  left: 40%;
}

#page10 > .right-10 > .right10-inner {
  display: flex;
  align-items: start;
  flex-direction: column;
  height: 33.3%;
  width: 100%;
  font-family: a;
  color: #fff;
}

#page10 > .right-10 > .right10-inner > h1 {
  font-size: 2vw;
}

#page10 > .right-10 > .right10-inner > p {
  font-size: 1.3vw;
  width: 80%;
  margin-top: 2vw;
}

#page11 {
  position: relative;
  height: 110vh;
  width: 100vw;
  background-color: #fff;
  font-family: a;
}

#page11 > h1 {
  position: absolute;
  top: 5%;
  left: 10%;
  font-size: 4vw;
  color: black;
  font-weight: 100;
}
